
/* GLOBAL STYLING */
  .wrapper {
    width: 900px;
    margin: 0 auto;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(9, 69px);
    grid-template-rows: repeat(8, 69px);
    background-color: darkgrey;
    row-gap: 0.5em;
    column-gap: 0.5em;
  }
  .item2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    background-color: #eeeed2;
  }
  .item1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    background-color: #769656;
  }
  .edge {
    justify-self: center;
    align-self: center;
    color: white;
  }


/* WHITE FIGURES*/
  .white.rook{
    height: 50px;
    width: 50px;
    background-image: url('img/WhiteRook.png');
    background-size: cover;
  }

  .white.knight{
    height: 50px;
    width: 50px;
    background-image: url('img/WhiteKnight.png');
    background-size: cover;
  }

  .white.bishop{
    height: 50px;
    width: 50px;
    background-image: url('img/WhiteBishop.png');
    background-size: cover;
  }

  .white.queen{
    height: 50px;
    width: 50px;
    background-image: url('img/WhiteQueen.png');
    background-size: cover;
  }

  .white.king{
    height: 50px;
    width: 50px;
    background-image: url('img/WhiteKing.png');
    background-size: cover;
  }

  .white.pawn{
    height: 50px;
    width: 50px;
    background-image: url('img/WhitePawn.png');
    background-size: cover;
  }

/* BLACK FIGURES*/
.black.rook{
  height: 50px;
  width: 50px;
  background-image: url('img/BlackRook.png');
  background-size: cover;
}

.black.knight{
  height: 50px;
  width: 50px;
  background-image: url('img/BlackKnight.png');
  background-size: cover;
}

.black.bishop{
  height: 50px;
  width: 50px;
  background-image: url('img/BlackBishop.png');
  background-size: cover;
}

.black.queen{
  height: 50px;
  width: 50px;
  background-image: url('img/BlackQueen.png');
  background-size: cover;
}

.black.king{
  height: 50px;
  width: 50px;
  background-image: url('img/BlackKing.png');
  background-size: cover;
}

.pawn{
  height: 50px;
  width: 50px;
  background-image: url('img/BlackPawn.png');
  background-size: cover;
}